.mainHomeScss {
  background-color: rgb(15 23 42);
  height: 100%;
  width: 50%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.paragrapheHomeScss {
  font-size: 1.25rem;
  padding-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
  .mainHomeScss {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 18rem;
  }
}

@media screen and (max-width: 393px) {
  .mainHomeScss {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 22rem;
  }
}

@media screen and (max-width: 280px) {
  .mainHomeScss {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 24rem;
  }
}