.headerBackGroundcolor {
  
  background-color: rgb(15 23 42);
  height: 100vh;
  width: 50%;
  padding-top: 6rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerPosition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1Header {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: .025em;
  cursor: pointer;
}

.h2Header {
  margin-top: 0.75rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
  letter-spacing: .025em;
  font-weight: 500;
}

.paragrapheHeader {
  font-size: 1.25rem;
  max-width: 20rem;
  margin-top: 1rem;
  line-height: 1;
  letter-spacing: .025em;
}

@media screen and (max-width: 1024px) {
  .headerBackGroundcolor {
    background-color: rgb(15 23 42);
    height: 20vh;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
  }
}
